<a [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
<a [routerLink]="['/create']" routerLinkActive="active">Create</a>
<a routerLink="/update" routerLinkActive="active">Update</a>
<a routerLink="/delete" routerLinkActive="active">Delete</a>
<a routerLink="/armando" routerLinkActive="active">Armando</a>
<a routerLink="/todo" routerLinkActive="active">Todo</a>
<a routerLink="/posts" routerLinkActive="active">Posts</a>
<router-outlet></router-outlet>